.text-theme
{
    color: #7a2929;
}

.text-light
{
    color: #f3f3f3;
}
.body-text
{
    font-size: 16px;
    line-height: 20px;
    font-family: 'Segoe UI', 'wf_segoe-ui', Helvetica, Arial, sans-serif;
}