@font-face {
    font-family: infiGrailFont;
    src: url(../fonts/Lato-Regular.ttf);
}.text-theme
{
    color: #7a2929;
}

.text-light
{
    color: #f3f3f3;
}
body
{
    font-size: 1.5em;
    font-family: infiGrailFont, sans-serif;
}